<div class="<%= nav_bar_class %>">
  <%= link_to 'Profile', profile_path, class: nav_bar_tab_class %>
  <%= link_to 'Public', public_path, class: nav_bar_tab_class %>
  <% if session['credentials'] %>
    <%= link_to 'Protected', protected_path, class: nav_bar_tab_class %>
    <%= link_to 'Admin', admin_path, class: nav_bar_tab_class %>
  <% end %>
</div>
