<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="shortcut icon mask-icon"
      href="https://cdn.auth0.com/website/auth0_favicon.svg"
      color="#000000"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.auth0.com/website/new-homepage/dark-favicon.png"
    />
    <meta
      name="description"
      content="Learn how to add user authentication to Rails web apps easily."
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Auth0 Rails Sample</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-layout">
      <%= render partial: "layouts/partials/navbar" %>
      <%= render partial: "layouts/partials/mobile/navbar" %>

      <div class="page-layout__content">
        <%= yield %>
      </div>

      <%= render partial: "layouts/partials/page_footer" %>
    </div>
  </body>
</html>
